*.test
/model.json
/mnist.tflite
_example/charrnn/charrnn
_example/dataset/dataset
/wgpu
/wgpu-nosimd
/wgpu-simd
/.agents/
/.codex/
_example/mnist/data/
_example/gpt2/data/
_example/qwen/data*/
/charrnn.json
/graph.png
/graph.svg
_example/wgpu/wgpu
*.exe
/*.dll
tokenizer/testdata/
